<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>react-kickstart</title>
    <meta name="description" content="just another react + webpack boilerplate">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
   <main>{% block main %}{% endblock %}</main>
  <script src="/main-{{ __webpack__.hash }}.min.js"></script></body>

  </body>
</html>
