{% extends '_layout.njk' %} {{ themeColor }} {% set themeColor = "yellow" %} {{ themeColor }}
{% block main %}
  <div class="page-wrapper">
    <section class="hero-wrapper">
      <div class="image mobile">
        <img src="images/jerumidicsobib.png" alt="jerumidicsobib" />
      </div>

      <a href="/about">About</a>
    </section>
  </div>
{% endblock %}
